/* LOG IN Y REGISTRO EXITOSO */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');


.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 245px auto;
    width: 90%;
    max-width: 600px;
    position: relative;
}

.success .tick {
    position: relative;
    display: inline-block;
    align-items: center;
    gap: 15px; 
}

.success .tick img {
    position: absolute;
    top: 37%;
    left: 110%; 
    transform: translate(-50%, -50%); 
    width: 30px; 
    height: auto;
}

.success .tick h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.success .tick2 {
    position: relative;
    display: inline-block;
    align-items: center;
    gap: 15px; 
}

.success .tick2 img {
    position: absolute;
    top: 37%;
    left: 120%; 
    transform: translate(-50%, -50%); 
    width: 30px; 
    height: auto;
}

.success .tick2 h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.success img {
    width: 50px;
    height: auto;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    transform: scale(1.05);
}

/* REGISTRO EXITOSO */